<a href="https://colab.research.google.com/github/SovetovAleksey/Probability-theory/blob/6_quest/6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# 1. Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks): zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]. Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy Полученные значения должны быть равны. Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков, а затем с использованием функций из библиотек numpy и pandas.

In [54]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

df = pd.DataFrame({'zp': [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], 'ks': [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]})
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [22]:
X = df['zp']
Y = df['ks']
MX = X.mean()
MY = Y.mean()
MX, MY

(101.4, 709.9)

In [32]:
cov = (X * Y).mean() - MX * MY
cov

9157.839999999997

In [38]:
cov = np.cov(X, Y)
cov

array([[ 3494.64,  9157.84],
       [ 9157.84, 30468.89]])

Коеффициент корреляции Пирсона

In [55]:
corr = cov / (zp.std() * ks.std())
corr

array([[0.33866702, 0.88749009],
       [0.88749009, 2.95275283]])

In [45]:
df[['zp', 'ks']].corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

# 2. Измерены значения IQ выборки студентов, обучающихся в местных технических вузах: 131, 125, 115, 122, 131, 115, 107, 99, 125, 111. Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [50]:
iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
sigma = iq.std(ddof=1)
Miq = iq.mean()

$$\overline{X} \pm t_{\alpha/2} * \frac{\sigma_н}{\sqrt{n}}, \alpha = 0.05, n = 10, t_{\alpha/2} = 2.262$$

In [58]:
result = [Miq - 2.262 * sigma / (np.sqrt(10)), Miq + 2.262 * sigma / (np.sqrt(10))]
result

[110.55660776308164, 125.64339223691834]

# 3. Известно, что рост футболистов в сборной распределен нормально с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27, среднее выборочное составляет 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

$$\overline{X} \pm Z_{\alpha/2} * \frac{\sigma}{\sqrt{n}}$$

$$\sigma = \sqrt{D(X)} = \sqrt{25} = 5$$

$$\overline{X} = 174.2$$
$$n = 27$$
$$\alpha = 0.05$$
$$Z_{\alpha/2} = 1.96$$

In [56]:
result = [174.2 - 1.96 * 5 / (np.sqrt(27)), 174.2 + 1.96 * 5 / (np.sqrt(27))]
result

[172.31398912064722, 176.08601087935276]